<h1>List of Documentary Films</h1>
<ul>
  <% @documentary_films.each do |documentary_film| %>
    <li>
      <strong>Name:</strong> <%= documentary_film.name %><br>
      <strong>Synopsis:</strong> <%= documentary_film.synopsis %><br>
      <strong>Director:</strong> <%= documentary_film.director %>
    </li>
  <% end %>
</ul>
